

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #381333;
  overflow-y: scroll;
  overflow-x: hidden;
}

.topnav {
  overflow: hidden;
  background-color:#381333;
  margin-right: 10%;

}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  border-bottom: 5px solid #F8C43B;
  color: white;
}

.topnav a.active {
  border-bottom: 50px solid #D9992D
  color: white;
}
		
		#skills
		{
			
			color: black;
			margin: 43%;
			font-size: 30px;
			font-family:Arial Black;
			
		}
		#cid{
			color:white;
			text-decoration: none;
		}
	

#cid
{
	margin-left: 10%;
}
.class4{
			background-color: rgba(10,5,16,1);
			padding: 2%;
			margin-top: 20px;
			color: white;
			width: 96%;

		}
#myimage{
	border: 5px solid white;
	border-radius: 5px;
	width: 100%;
	height: auto;
	
}

.Mywebpic	
{
	margin-left: 20%;
		float:left; 
		width: 20%;
		height: 40%;
		
}	
.textabtme
{
	width: 40%; 
		float:left; 
		background:white; 
		color: black;
		padding: 15px;
		margin-left: 3%;
		border: 5px solid #F8C43B;
		border-radius: 10px;
}
	.anokhaclass
	{
		margin-left: 10%;
		width: 25%; 
		float:left; 
		height:auto; 
		background:#381333; 
		padding: 10px;
	}

	.iotclass
	{
		width: 25%; 
		float:left; 
		height:auto; 
		background:#381333; 
		padding: 10px;
	}
	.Ten{

		width: 25%; 
		float:left; 
		height:auto; 
		background:#381333; 
		padding: 10px;
	}
	
#eid{
	color: white;
	text-align: center;
	text-decoration: none;
	margin: 43%;
	font-size: 30px;
	font-family:Arial Black;
}


.text
{
		width: 58%; 
		float: left; 
		background:white; 
		border-radius: 10px;
		padding: 15px;

}
#welcome{
	background-color: white;
	width:70%;
	height:50%;
	color: #381333;
	text-align: center;
	margin-left: 15%;
	padding: 1%;
	border-radius: 10px;
}
#contentTEN
{
	color: black;
	background-color: white;
	padding: 5px;
	margin-left: 15%;
}
#contentNGO
{
		color: black;
	background-color: white;
	padding: 5px;
	margin-left: 10%;
}
#contentIOT
{
	color: black;
	background-color: white;
	padding: 5px;
	margin-left: 15%;
}

@media screen and (max-width: 800px) {
  .anokhaclass, .iotclass, .Ten, #eid, .class4{
    width: 100%;
    margin-right: 10%;
     /* The width is 100%, when the viewport is 800px or smaller */
  }
}
@media screen and (max-width: 800px) {
  .textabtme {
    width: 80%;
    margin-left:0%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
@media screen and (max-width: 800px) {
  .flip-box,.flip-box1,.flip-box2,.flip-box3,.flip-box4,.flip-box5 {
    width: 50%;
     /* The width is 100%, when the viewport is 800px or smaller */
  }
}
@media screen and (max-width: 800px) {
  .skillsclass {
    width: 100%;
     /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.skillsclass{
	background-color: whitesmoke;
	border-radius: 5px;
	margin-left: 15%;
	width: 70%;
	margin-top: 45%;
	height:20%;
	}
.flip-box {
  background-color: #381333;
  width: 100px;
  height: 100px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  float: left;
  margin-left: 15%;
  
}
.flip-box1
{
 background-color: #381333;
  width: 100px;
  height: 100px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  float: left;
  margin-left: 20px;
}
.flip-box2{
	 background-color: #381333;
  width: 100px;
  height: 100px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  float: left;
  margin-left: 20px;
}
.flip-box3
{
	 background-color: #381333;
  width: 100px;
  height: 100px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  float: left;
  margin-left: 20px;
}
.flip-box4
{
	 background-color: #381333;
  width: 100px;
  height: 100px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  float: left;
  margin-left: 20px;
}
.flip-box5
{
	 background-color: #381333;
  width: 100px;
  height: 100px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  float: left;
  margin-left: 20px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box1:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box2:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box3:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box4:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box5:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: whitesmoke;
  color: black;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

